
body{
	color:purple;
	background:-color: #d8da3d;
}


ul.navbar{
	list-style-type:none;
	padding: 0;
	margin: 0;
	position-obsolute;
	top: 2cm;
	lefe:1cm;
	width: 9cm;
}

ul.navbar li {
	background: writhe;
	margin: 0.5cm 0;
	padding: 0.5cm 0;
	border-right: 1cm solid black}
ul.navbar a{
text-decoration: none;}
a:link {
color: blue;}
a:visited {
color: purple;}

    address {
	margin-top: 1cm;
	padding-top: 1cm;
	border-top: thin dotted ;}
h1}
